# Core functionality - changes here should be rare!
/src/app.py                   @MT-er
/src/backend/database.py      @MT-er
/src/backend/routers/auth.py  @MT-er

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MT-er
